.DS_Store
node_modules
/dist
/src/base
/备份
/build
/public/env/env.js
/.history

# local env files
# .env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# devops
.dockerignore
devops.sh
Dockerfile
